form input{
    font-family: 'Open Sans Condensed', sans-serif;;
}
.linkCategoria {
    cursor: pointer;
    transition: 0.3s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8) !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
}
.sidenav li {
    font-family: var(--fuente-dos);
    font-size: 20px;
}
.sidenav ul {
    list-style:none
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}
a {
    color: #fff;
    transition: 0.3s;
}
a:hover {
    text-decoration: none;
}
