.wrappers {
    display: flex;
    justify-content: space-between;
}
.wrappers .icon{
    margin: 0, 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center  ;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon span i{
    font-size: 25px;
    line-height: 60px;
}
.wrappers .icon:hover span i{
    color: #fff;
}
.wrappers .icon .tooltips {
    position: absolute;
    top: 0px;
    color: #fff;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon:hover .tooltips {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.wrappers .icon .tooltips::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrappers .icon:hover span,
.wrappers .icon:hover .tooltips  {
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrappers .facebook:hover span,
.wrappers .facebook:hover .tooltips, 
.wrappers .facebook:hover .tooltips::before {
    background: #3b5999;
}
.wrappers .twitter:hover span,
.wrappers .twitter:hover .tooltips, 
.wrappers .twitter:hover .tooltips::before {
    background: #46c1f6;
}
.wrappers .instagram:hover span,
.wrappers .instagram:hover .tooltips, 
.wrappers .instagram:hover .tooltips::before {
    background: #E1306C;
}
.wrappers .github:hover span,
.wrappers .github:hover .tooltips, 
.wrappers .github:hover .tooltips::before {
    background: #333;
}
.wrappers .youtube:hover span,
.wrappers .youtube:hover .tooltips, 
.wrappers .youtube:hover .tooltips::before {
    background: #DE463B;
}
.wrappers .whatsapp:hover span,
.wrappers .whatsapp:hover .tooltips, 
.wrappers .whatsapp:hover .tooltips::before {
    background: #19960f;
}
.wrappers .gitlab:hover span,
.wrappers .gitlab:hover .tooltips, 
.wrappers .gitlab:hover .tooltips::before {
    background: #fc6d26;
}
.wrappers .trello:hover span,
.wrappers .trello:hover .tooltips, 
.wrappers .trello:hover .tooltips::before {
    background: #085dd7;
}
.wrappers .telegram:hover span,
.wrappers .telegram:hover .tooltips, 
.wrappers .telegram:hover .tooltips::before {
    background: #5682a3;
}
.wrappers .slack:hover span,
.wrappers .slack:hover .tooltips, 
.wrappers .slack:hover .tooltips::before {
    background: #3e1040;
}
.wrappers .skype:hover span,
.wrappers .skype:hover .tooltips, 
.wrappers .skype:hover .tooltips::before {
    background: #1e8cdb;
}
.wrappers .messenger:hover span,
.wrappers .messenger:hover .tooltips, 
.wrappers .messenger:hover .tooltips::before {
    background: #009df7;
}